
.cards-title {
    text-align: center;
    font-size: 30px;
}

.search-container {
  text-align: center;
}

.search-input {
    border-radius: 10px;
    padding: 5px;
}

.buttons-container, .add-button-container {
    display: flex;
    justify-content: center; 
    margin: 20px 0;
    padding: 0 20px;
    font-size: 20px;
}

.buttons-container {
    flex-wrap: wrap;
    gap: 10px;
}

.button {
    padding: 5px 20px;
    border: none; 
    border-radius: 25px; 
    background-color: #888; 
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
}

.add-button-container {
    text-align: center;
    padding: 0;
}

.button-add {
    background-color: #535e8f;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
    justify-content:space-between;
    gap: 16px;
    margin: 30px auto;
    padding: 30px;
    background-color: #232323;
}
@media (max-width: 1022px) {
    .card-list {
        justify-content: center;
    }
}
 
.card-container {
    width: 350px;
}

p a {
    color: #888;
}

.pagination {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
}

.button-pagination {
    margin: 0 50px;
}

